.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #fff;
  background-color: #0009;
  border-radius: 15px;
  width: 32%;
  list-style-type: none;
  list-style: none;
  padding: 10px;
  height: 400px;
}
.inner-img {
  width: 80%;
  height: 50%;
}
.head {
  height: 20%;
}
