.link {
  list-style-type: none;
  border: solid 2px #fff6;
  border-radius: 15px;
  padding: 0px 10px;
  width: 45%;
  background-color: #fff2;
  text-decoration: none;
}
.list-elem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.team-logo {
  height: 70px;
  width: 70px;
  margin-left: 10px;
}
.team-name {
  color: #fff;
  font-family: Bree Serif;
  width: 70%;
}
