.mainBgg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 100vh;
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo {
  height: 70px;
  width: 50px;
}

.dashboard {
  color: #fff;
  font-size: 40px;
  font-family: Bree Serif;
}
.teamsContainer {
  display: flex;
  list-style-type: none;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
